# raw and generated data
data/*
!data/
!data/metadata/
!data/metadata/sample_metadata.csv
results/
logs/

# system files
.DS_Store
__pycache__/
*.log
*.treefile
*.ckp.gz

# IDE files
.idea/
.Rhistory
